body {
  margin: 0;
  padding: 0;
  font-family: 'Lufga', sans-serif;
 
}
.form{
  background-color: #f2f2f2;
  
}
a {
  text-decoration: none;
}

nav {
  position: sticky;
  padding-right: 20px;

  display: flex;
  align-items: center;
  height: 83px;
  background-color: #ffffff;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0 6px 12px 0px rgba(5, 36, 81 , 10%);

}
.logo1{
  height: 50px;

}

.logo {
  width: 30%;
  margin-right: auto;
}

.nav-items {
  display: flex;
  align-items: center;
}

.nav-items a {
  color: #052451;
  text-decoration: none;
  padding: 0 20px;
  transition: all 0.3s ease;
}

.nav-items a:hover {
  color: #0091ff;
}

.nav-items a.active {
  color: #ddd;
  border-bottom: 2px solid #fff;
}


.banner {
  /* box-shadow: inset 0 0 0 2000px rgba(85, 109, 145, 0.651); */
  background-repeat: no-repeat;
  background-size: contain;
  max-height: 70vh;

  flex-direction: column;
  align-items: right;
  justify-content: center;
   
  text-align: center;
}
label {
  display: none;
}


.banner h1 {
    display: flex;
    justify-content: center;
  line-height: 10px;
  font-size: 56px;
margin-top: 100px;
  color: #0091ff;
  /* text-shadow: 2px 2px 4px #333; */
}
.text-span{
  color: #052451;
}
.text-span-6{
  color: #0091ff;
}
.banner p {
  font-size: 22px;
  line-height: 24px;
  margin: 1px;
  color: #052451;
  /* text-shadow: 2px 2px 4px #333; */
}

.section {
  padding: 100px 0;
  text-align: center;
}

.section h2 {
  font-size: 36px;
  margin: 0;
}

.section p {
  font-size: 24px;
  margin: 0;
}


@media (max-width: 600px) {
  #form {
  
    display: grid;
    grid-auto-flow: row;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: 1fr 1fr;
    width: 800px;
    max-width: 80%;
    margin: 0 auto;
    padding: 40px;
    background-color: #052451;;
    border-radius: 45px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    margin-bottom: 50px;
    
  }
  nav {

    height: auto;
  }
  nav a {
    margin: 10px 0;
  }
  .banner h1 {
    font-size: 24px;
  }
  .banner p {
    font-size: 16px;
  }
}

#form {
  
  display: grid;
  grid-auto-flow: row;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: 1fr 1fr;
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  padding: 40px;
  background-color: #052451;;
  border-radius: 45px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  margin-top: 90px;
  margin-bottom: 50px;
  
}

.form-group {
  font-family: Lufga, sans-serif;
  
}

.form-group label {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group input[type="number"] {
  width: 100%;
  height: 50px;
  margin-bottom: 0px;
  padding-left: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  box-sizing: border-box;
  cursor: pointer;
}
input::placeholder {
  color: #052451;
  font-size: 16px;
}

.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group input[type="tel"]:focus,
.form-group input[type="number"]:focus {

  outline: none;
}

.form-group input[type="file"] {
  color: white;
  padding: 0;
  font-size: 14px;
}

.form-group input[type="file"]:focus {
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  box-sizing: border-box;
  font-size: 14px;
  color: white;
  cursor: pointer;
  padding: 0;
}

.form-group input[type="submit"] {
  width: 100%;
  height: 40px;

}

input[type="submit"] {
  background-color: #0091ff;
  padding: 12px 24px 12px 24px;
  width: 100%;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  border-color: transparent;
}

input[type=file]::file-selector-button {
  height: 30px;
  border: 1px solid #ddd;
  border-radius: 20px;
  background-color: transparent;
  box-sizing: border-box;
  font-size: 14px;
  color: white;
  cursor: pointer;
  margin-right: 10px;
}

input[type=file]::file-selector-button:hover {
  background-color: #0091ff;
  border-color: transparent;
}

input[type=date] {
  width: 100%;
  height: 50px;
  margin-bottom: 0px;
  padding-left: 20px;
  padding-right: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 16px;
}


.container-default{
  width: 100%;
  z-index: 50;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  /* background-color: #f3f4f7; */
  margin: 0 auto;
}

.container-default img{
  width: 130px;
  /* height: 200px; */
  object-fit: cover;
  /* text-align: center; */
  margin-left: auto;
  margin-right: auto;
  display: block;
  
}

.grid-item:hover {

  border: 2px solid #54b2fa88;
  cursor: pointer;
}




.grid-wrapper {
  display: flex;
  padding: 20px 120px 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  align-items: center;
  border-radius: 200px;

  box-shadow: 0 0 10px 0 rgb(0 0 0 , 25%);
}

.grid-item {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  overflow: hidden;
  transition: all 0.3s ease;
  padding: 20px 20px 40px;
  border: 1px solid #ddd;
  transition: border 0.3s ease;
  height: 350px;
}


.grid-item h3 {
  margin: 10px;
}  

h2 {
  font-size: 32px;
  line-height: 36px;
  margin-top: 20px;
 color: #052451;
 margin: 20px;
}
.container-default h3 {
  font-size: 24px;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #052451;
  box-sizing: border-box;
  text-align: center;
  
}
.container-default p{
  align-self: center;
  text-align: center;
  margin-bottom: 10px;
  display: block;
  font-size: 16px;
  line-height: 25px;
  color: #052451;
}


.h2-lufga.center{
align-self: center;
text-align: center;
}

.banner-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
  padding: 20px;
  background-color: #f2f2f2!important;
  box-shadow: 0 6px 12px 0px rgba(5, 36, 81 , 10%), 0 -6px 12px 0px rgba(5, 36, 81 , 10%);
}

.banner-grid-item {
  align-self: center;
  text-align: center;
  border-right: 2px solid #0091ff93;
  border-radius: 2px;
  overflow: hidden;
  animation: fadeIn 0.5s ease-in;
}

.last {
  border-right: none;
}

.banner-title {
  margin: 10px;
  font-size: 36px;
  font-weight: 600;
  color: #052451;
}

.description {
  margin: 10px;
  font-size: 16px;

  color: #052451;;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.slideshow-container {
    z-index: -2;
  position: absolute;
  top: 0;
  left: 0;
  height: 60vh;
  width: 100%;
}

.slideshow-item {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.slideshow-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(120, 160, 247, 0.315); /* Add a semi-transparent background color */
  z-index: 2; /* Set the z-index to a higher value than the banner */
}
.container-watsapp {
  position: relative; /* Set the position to relative */

  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%; /* Set the width to 80% of the viewport */
  height: 500px; /* Set the height to 500px */
  margin: 0 auto; /* Center the container horizontally */
}

.section-watsapp {
  display: flex; /* Add a flexbox layout */ /* Set the width to 80% of the viewport */
  height: 100%; /* Set the height to 100% of the container-section */
  margin: 0 auto; /* Center the container horizontally */
  margin-top: 40px;
  background-color: #f2f2f2;
}

.section-left {
  flex: 1; /* Use the remaining space on the left side */
  text-align: left;
  padding: 40px 30px 30px 70px;
  width: 600px;
}

.section-right {
  flex: 1;
  padding: 40px 30px 30px 20px; /* Use the remaining space on the right side */
}

.section-title {
  /* Your title styles go here */
}

.section-text-watsapp {
  font-size: 16px;
  line-height: 28px;
  color: #052451;
}

.icon-container {
  display: flex;
  align-items: center;
}

.icon-container-hover {
  background-color: #ffffff;
  border-radius: 50%;
  margin: 20px;
  padding: 20px;
}

.icon-image {
  height: 30px;
  width: 30px;
}

.icon-image:hover {
  fill: #fff !important;
  transition: fill 0.5s;
}
.my-button-class {
  display: flex;
  align-items: center;
  background-color: #0091ffbd;;
  color: white;
  text-align: center;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;

}


.icon-text-1 {
  display: flex;
  font-size: 16px;
  line-height: 28px;
  color: #052451;
  padding-bottom: 10px;
  
}

.icon-text-2 {
  font-size: 36px;
  line-height: 28px;
  color: #0091ff;
}

.section-banner {
  display: flex;
  height: 360px;
}

.slideshow {
  position: relative;
  width: 50%;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 250%;
  opacity: 0;
  transition: opacity 0.5s;
  z-index: -2;
}

.slide.active {
  opacity: 1;
}

.section-text {
    color: #fff!important;
  width: 50%;
  padding: 0 20px;
  padding-top: 50px;
  background-color: #0091ffbd;
  border-bottom-left-radius: 10px;
}

.section-title {
  /* Your title styles go here */
}

.section-description {
  font-size: 16px;
  line-height: 28px;
  color: #052451;
}
.container-collum {
  /* background-color: #0091ff; */
  display: flex;
  flex-direction: column;
  padding-right: 40px;
  padding-left: 40px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  padding-top: 50px;
  justify-content: center;
}

.row-reverse {
  flex-direction: row-reverse;
}

.btn-secondry{
  display: inline-block;
  padding: 10px 20px;
  background-color:#0091ff;;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  max-width: 93px;
  text-align: center;
    margin: auto;

}

.btn-secondry:hover {
  background-color: #0056b3;
}


.icon {

  font-size: 24px;
  background-color: #fcfcfc;
  padding: 60px;
  border-radius: 50%;
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
}

.title {
  font-size: 36px;
  font-style: normal;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #0091ff;
  letter-spacing: -1px;
  line-height: 45px;
  font-weight: 400;
}

.text {
  font-size: 16px;
  color: #052451;
  line-height: 24px;
  max-width: 700px;
}
*, *:before, *:after {
  box-sizing: border-box;
}

/* html {
  font-size: 100%;
}

body {
  font-family: acumin-pro, system-ui, sans-serif;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-size: 14px;
  background-color: #f4f4f4;
  align-items: start;
  min-height: 100vh;
} */

.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #2f2f2f;
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
  max-height: 450px;
}

.footer > * {
  flex:  1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 1.5rem;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
}
.nav__titlee {
  font-weight: 400;
  font-size: 15px;
  margin: 0px!important;
}

.footer address {
  font-style: normal;
  color: #999;
  
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgb(33, 33, 33, 0.07);
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
  flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #00182a;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #0091ff;
}
  
.legal__links {
  display: flex;
  align-items: center;
}



@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }
  
  .nav__item--extra {
    flex-grow: 2;
  }
  
  .footer__addr {
    flex: 1 0px;
  }
  
  .footer__nav {
    flex: 2 0px;
  }
}

.counter {
  font-size: 3rem;
  font-weight: bold;
  color: #333;
}

.counter-animate {
  animation: count-up 1s ease-out;
}

@keyframes count-up {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.hamburger-menu {
display: none;
flex-direction: column;
justify-content: space-between;
width: 30px;
height: 21px;
cursor: pointer;
}

.hamburger-menu span {
height: 3px;
background-color: #0091ff;
}


@media only screen and (max-width: 991px) {

  .nav-items {
    display: none;
  }
  
  .hamburger-menu {
    display: flex;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(47, 47, 47, 0.8);
    z-index: 999;
    display: none;
  }
  
  .overlay.active {
    display: block;
  }
  
  .hamburger-menu.active span:first-child {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .hamburger-menu.active span:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger-menu.active span:last-child {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  
  .nav-items.active {
    display: block;
    position: absolute;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 6px 12px 0px rgba(5, 36, 81, 10%);
    z-index: 1000;
    margin-top: 80px;
  }
  
  .nav-items.active a {
    display: block;
    margin: 0;
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem;
  }

}
#zusatzoptionen{
  width: 100%;
    height: 50px;
    margin-bottom: 0px;
    padding-left: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-sizing: border-box;
    cursor: pointer;
}
#nachricht{
  width: 100%;
    height: 50px;
    margin-bottom: 0px;
    padding-left: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-sizing: border-box;
    cursor: pointer;
}

@media only screen and (max-width: 991px) {
  #form {
    display: flex;
    flex-direction: column;
    max-width: 80%;
  }

  .container-collum {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    padding-right: 0px;
  }

  .row {
    display: flex;
    flex-direction: column;
  }

  .grid-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
  .icon-text-2 {
    font-size: 28px;
    line-height: 28px;
}

  .section-watsapp {
    display: flex;
    flex-direction: column;
  }

  .section-left {
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    text-align: center;
  }

  .container-collum {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    padding-right: 5px;

    justify-content: center;
    width: 100% ;
  }

  .text-container {
    text-align: center;
  }

  .title {
    font-size: 30px;
  }

  .row {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .container-default {
    margin-bottom: 20px;
  }



}
.overlay-content23{
  display: none;
}

#marke{
  width: 100%;
    height: 50px;
    margin-bottom: 0px;
    padding-left: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-sizing: border-box;
    cursor: pointer;
}


@media (max-width: 991px) {

  .banner h1{
    margin-top: 45px;
    font-size: 46px;
  }
  .overlay23 {
    height: 100%;

    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    left: 80%;
    width: 20%;
    height: 100%;
    background-color:#052351d0;
    z-index: 1;
    display: none;
  }
  
  .overlay-content23 {
    display: block;
    position: relative;

    text-align: center;
    margin-top: 30px;
  }
  
  .overlay23 a {
    padding: 8px;
    text-decoration: none;
    font-size: 14px;
    color:  #ffffff;
    display: block;
    transition: 0.3s;
    
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #ec0606;
  }
  
  /* .hamburger {
    display: none;
    cursor: pointer;
  }
  .nav-items {
    display: none;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 20px;
    cursor: pointer;
  }
  .hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    margin-bottom: 5px;
    background-color: #0091ff;
  } */
  .overlay23.active {
    display: block;
  }
  .hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 6px);
  }
  
  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -6px);
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 18px;
    cursor: pointer;
    z-index: 2;
  }
  
  .hamburger span {
    height: 2px;
    background-color: #0091ff;
    transition: transform 0.3s ease-in-out;
  }
  
  .hamburger span:nth-child(1) {
    transform-origin: top left;
  }
  
  .hamburger span:nth-child(2) {
    transform-origin: center left;
  }
  
  .hamburger span:nth-child(3) {
    transform-origin: bottom left;
  }
  
  
  .overlay23.active {
    display: block;
  }
  .hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 6px);
  }
  
  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -6px);
  }

}
